<!DOCTYPE html>
<html>
<head>
	<title>Welcome!</title>
	<link rel="stylesheet" href="/stylesheet.css">
	<link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css">
	<link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
</head>
<body>

<!-- ==============NAVBAR============================ -->
<div class="navbar-custom">
	<ul>
		<li><a href="/" class="buttons">Journal.com</a></li>
		<li><a href="/about" class="buttons">About</a></li>
		<li class="dropdown">
			<a href="#" id="signin">Amit Jha</a>
		</li>
	</ul>
</div>
<!-- =================END-NAVBAR===================== -->

	
