h1
{
  font-size: 32px;
  text-shadow: -1px -1px skyblue, 1px 1px black, -3px 0 4px #000;
  font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
  color:whitesmoke;
  padding:16px;
  font-weight:lighter;
  text-align:center;
  display:block;
  margin:16px;
  
}

h3{
    color:whitesmoke;
    text-align:center;
    display:block;
    font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
}