    <!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Productivity Tracker</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" media="screen" href="main.css">
        <link rel="stylesheet" type="text/css" media="screen" href="./bootstrap/css/bootstrap.css">
        <!-- <link rel="stylesheet" href="../public/render.css"> -->
        <!-- <link rel="stylesheet" href="../website/public/stylesheet.css"> -->
    </head>
    <body style="background: #F0F0F0; ">
        <div style=" -webkit-app-region: drag;">
            <ul class="nav nav-tabs" id="myTab" role="tablist" style="background: #D3D1D1;">
                <li class="nav-item" style=" -webkit-app-region: no-drag;">
                <a class="nav-link active" id="home-tab"
                data-toggle="tab" 
                href="#home" role="tab"
                    aria-controls="home" 
                    aria-selected="true">Dashboard</a>
                </li>
                <li class="nav-item" style=" -webkit-app-region: no-drag;">
                <a class="nav-link" 
                id="log-tab" 
                data-toggle="tab" 
                href="#log" role="tab" 
                aria-controls="log" 
                aria-selected="false">Log</a>
                </li>
                <li class="nav-item" style=" -webkit-app-region: no-drag;">
                        <a class="nav-link" 
                        id="data-tab" 
                        data-toggle="tab" 
                        href="#data" role="tab" 
                        aria-controls="data" 
                        aria-selected="false">Log entries</a>
                        </li>
                <li class="nav-item" style=" -webkit-app-region: no-drag;">
                <a class="nav-link" 
                id="about-tab" 
                data-toggle="tab" 
                href="#about" 
                role="tab" 
                aria-controls="about"
                aria-selected="false">About</a>
                </li>
            </ul>
            <button class="close_button" id="exit">X</button>
        </div>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <div class="user_container row" >
                    <div id="card">
                        <div id="card_title">
                            Analysis
                        </div>
                        <div>
                            <canvas id="pie_chart" width="300" height="300"></canvas>
                        </div>                           
                    </div>
                    <div id="card">
                        <div id="card_title">
                                Productivity
                        </div> 
                        <div id="Productivity">
                        </div>
                        

                        
                    </div>

                    <div id="card" style="margin-right:10px;">
                        <div id="card_title">
                                Account
                            </div>
                        <div class="input-group mb-3" style="width: 90%; margin-left: 15px;">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">@</span>
                            </div>
                            <input type="text" id="email" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                        </div>
                        <div class="input-group mb-3" style="width: 90%; margin-left: 15px;" id="pswd_cont">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">#!</span>
                            </div>
                            <input type="password" id="password" class="form-control" placeholder="Password" aria-label="Username" aria-describedby="basic-addon1">
                        </div>
                        <input class="btn btn-primary" id="login" type="submit" value="Submit" style="margin-left: 35%">
                    </div>
                </div>
            </div>
            <div class="tab-pane show fade" id="log" role="tabpanel" aria-labelledby="log-tab">
                <div class="input-group">
                    <div class="input-group-prepend input-group-append">
                    <span class="input-group-text" id="time">Time</span>
                    </div>
                    <textarea class="form-control" id="log_data" aria-label="With textarea"></textarea>
                    <button class="btn btn-outline-primary" type="button" id="button-addon2">Enter</button>
                </div>
                <div class="input-group">
                    <h6 class="display-11">Press shift+Enter to submit</h6>
                </div>
                <hr>
                <div class="jumbotron jumbotron-fluid">
                        <div class="container">
                        <h6 class="display-7" id="last-updated"></h6>
                        <p class="lead">
                            You can enter your daily logs here and it will be stored in the database
                        </p>
                        </div>
                </div>
            </div>

            <div class="tab-pane show fade" id="data" role="tabpanel" aria-labelledby="data-tab">
                        <div class="btn-group btn-group-toggle" data-toggle="buttons" style="margin-left: 40%; margin-top: 10px;">
                                <label class="btn btn-secondary active">
                                  <input type="radio" name="options" id="option1" autocomplete="off" checked> Time
                                </label>
                                <label class="btn btn-secondary">
                                  <input type="radio" name="options" id="option2" autocomplete="off"> Date
                                </label>
                                <label class="btn btn-secondary">
                                  <input type="radio" name="options" id="option3" autocomplete="off"> Year
                                </label>
                              </div>
                        <hr>
                    <ul id="list"></ul>
            </div>


            <div class="tab-pane show fade" id="about" role="tabpanel" aria-labelledby="about-tab">
                <div class="jumbotron jumbotron-fluid">
                    <div class="container">
                        <h1 class="display-4">Productivity Tracker</h1>
                        <p class="lead">A web application bundled with a desktop client
                            that leverages the power of web technologies and python to calculate probable 
                            productivity by analyzing the time spent on different applications and web history.
                                It can also be deployed to a workspace to measure employee productivity for 
                                effective analysis of their competitiveness and suggest courses, if required.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
        <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>    
        <script src="./bootstrap/js/bootstrap.min.js"></script>    
        <script src="./public/Chart.js/Chart.min.js"></script>
        <script src="./user_chart.js"></script>
        <script type= "text/jsx" src="./render.js"></script>
        <script src="./db_interface.js"></script>
        <script src="./log.js"></script>
        <script>if (window.module) module = window.module;</script>
        <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
    </body>
    </html>