<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Signin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css">
    <link rel="stylesheet" type="text/css" media="screen" href="./bootstrap/css/bootstrap.css">
    <script src="main.js"></script>
</head>
<body style="background: #D5F5E3;">
    <form id="login_form">
        <div class="form-group">
          <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
        </div>
        <div class="form-group">
          <input type="password" class="form-control" id="password" placeholder="Password">
        </div>
        <div class="form-group form-check">
        </div>
        <p id="unsuccessful"></p>
    </form>
      <button class="btn btn-primary" id="signin_btn">Login</button>
        <br>
      <a href="#" id="crt_accn">create account?</a>
      <script src="./signin.js">
      </script>
</body>
</html>